@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Livvic', sans-serif;
}

body {
  background-color: #f0f4ff;
  color: #1e293b;
}

.scrollbar-thin::-webkit-scrollbar { width: 4px; }
.scrollbar-thin::-webkit-scrollbar-track { background: #f1f5f9; }
.scrollbar-thin::-webkit-scrollbar-thumb { background: #93c5fd; border-radius: 2px; }
